elevenlabs==2.8.1
kokoro==0.9.4
matplotlib==3.10.3
nemo_toolkit[asr]==2.3.1
numpy==1.26.0
openwakeword
peft==0.15.2
PyAudio==0.2.14
pydub==0.25.1
selenium==4.28.1
scipy==1.16.1
torch==2.7.0
torchaudio==2.7.0
transformers==4.52.0
websockets==13.1
dotenv==1.0.1